/* div:nth-last-child(2){
    background-color: #ff0000;
} */

div::before{
    content: "->";
    background-color: #ff0000;
    border: 1px solid #000;
    color: #fff;
}

div::after{
    content: "<-";
    background-color: #ff0000;
    border: 1px solid #000;
    color: #fff;
}