body{
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    width: 990px;
    display:flex;
    justify-content: space-between;
}

.logo, .menu{
    display: flex;
    align-items: center;
}

nav ul, 
nav li {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
   
}

nav a{
    padding: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #727272;
    font-size: 18px;
    text-transform: uppercase;
}

.menu .active a,
.menu a:hover{
    background-color: #39aae1;
    color: #fff;
}

/* Section Banner*/

.sessao_1{
    display: flex;
    justify-content: center;
    height: 690px;
    background-image: url(../images/img1.jpg);
    background-size: cover;
    background-position: center;
}

.sessao_1 .container{
    flex-direction: column;
}

.banner_title{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;  
}

.banner_title h1{
    font-size: 80px; 
    padding: 0;
    margin: 0;
    text-shadow: 0px 1px #555;
}

.banner_title p{
    font-size: 18px;
    margin-top: 25px; 
    line-height: 30px;
    text-shadow: 0px 1px #555;
}

.banner_info{
    height: 230px;
    display: flex;
}

.info_1,
.info_2,
.info_3{
    flex: 1;
    padding: 20px 40px;
}

.info_1{
    background-color: #39aae1;
}
.info_2{
    background-color: #0079c7;
}
.info_3{
    background-color: #2b4c99;
}

.banner_info h1, 
.banner_info p{
    font-size: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.banner_info p{
    font-size: 15px;
}

.banner_info button{
    padding: 8px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-bottom: 30px;
    cursor: pointer;
}

.div_1,
.div_2,
.div_3{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3c62bd;  
}

.div_1 p,
.div_2 p,
.div_3 p{
    margin: 0;
    padding: 0;
}

.div_1 p{
    margin-bottom: 12px;
}

.div_2 p,
.div_3 p{
    margin: 12px 0px 12px 0px;
}

/*Section 2*/

.sessao_2{
    display: flex;
    justify-content: center;
}

.sessao_2 section{
    flex: 2;
}

.sessao_2 aside{
    flex: 1;
}

.general_info{
    margin-top: 30px;
    margin-bottom: 20px;

}

.general_title{
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.general_bar{
    width: 50px;
    height: 2px;
    background-color: #39aae1;
    margin-top: 10px;
}

.box_day{
    display: flex;
}

.box_1, .box_2{
    background-color: #2b4c99;
    color: #fff;
    padding: 6px 10px;
    margin-right: 3px;
    margin-bottom: 20px;
}

.box_2{
    background-color: #39aae1;
}


.container section{
    flex: 2;
}


